#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.debug-container{
  border: solid black 1px;
}

.nav-button{
  @apply px-4 py-2 font-medium rounded text-white bg-blue-500 hover:bg-blue-700
}
